.category{
  margin-bottom: 40px;
  .category-name{
    font-weight: 700; font-size: 24px; padding-bottom: 16px; border-bottom: 1px solid #ddd; margin-bottom: 32px;
  }
}
.menuList{
  display: flex; align-items: center; flex-flow: wrap;
}